* {
    --red: #FF652F;
    --green: #14A76C;
    --yellow: #FFE400;
    --dark-main: #272727;
    --light-main: #747474;
    --primary-font: 'Aclonica', sans-serif;
    --secondary-font:'Montserrat', sans-serif;
    margin: 2px;
    box-sizing: border-box;
    font-family: var(--primary-font);

}

.flex-container {
    font-size: 24px;
    color: var(--yellow);
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid var(red);

}

.flex-header {
    background-color: var(--dark-main);
    padding-top: 3rem;
    padding-bottom: 3rem;
    border: 1px solid var(red);

      
}

.flex-main {
    display: flex;
    flex: 1;    

}

.flex-nav{
    background-color: var(--light-main);
    padding-top: 3rem;
    flex: 1 1 5rem
}

.flex-article{
    background-color: var(--dark-main);
    padding-top: 3rem;
    flex: 3 3 ;
}

.flex-form{
    background-color: var(--light-main);
    padding-top: 3rem;
    flex: 1 1 5rem
}

.flex-footer {
    background-color: var(--light-main);
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 14px;
}

.card {
    border: 4px solid white;
    margin: 10px;
}

h2 p {
    font-family: var(--secondary-font);
}


@media all and (max-widht: 740px) {
    main{
        flex-direction: column;
    }
}